@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:wght@100..900&family=Outfit:wght@100..900&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:wght@100..900&family=Outfit:wght@100..900&family=Young+Serif&display=swap');

:root {
    /* --Fontsize (paragraph): 14px; */
    /* - Mobile: 375px
    - Desktop: 1440px */
    /* Primary */

    --DarkCyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);

    /* ### Neutral */

    --VeryDarkBlue: hsl(212, 21%, 14%);
    --DarkGrayishBlue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 2rem;
    background-color: var(--Cream);
}

.product-card {
    max-width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--Cream);
    margin: 0 auto;
    border-radius: 1rem;

}

.desko {
    display: block;
    height: 90vh;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    overflow: hidden;
}

.mobile-image {
    display: none;
}

.container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--White);
    padding: 2rem;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
}

.container h1 {
    font-size: clamp(3em, 0.75rem + 1.5vw, 4em);
    margin-bottom: 1rem;
    font-weight: 700;
    color: var(--VeryDarkBlue);
    font-family: 'Fraunces', serif;

}

.text {
    font-family: "Montserrat", serif;
    color: var(--DarkGrayishBlue);
    font-size: clamp(1em, 0.75rem + 1.5vw, 1.2em);
    line-height: 1.5;
}

.pef {
    text-transform: uppercase;
    letter-spacing: .5rem;
    color: var(--DarkGrayishBlue);
    margin: 1rem 0;

    /* font-family: 'Fraunces', sans-serif; */
}

.sp-container {
    display: flex;
    gap: 1rem;
    margin: 1.5rem 0;
}

.prize {
    font-size: clamp(2.5em, 0.75rem + 1.5vw, 1.4em);
    font-weight: 700;
    color: var(--DarkCyan);
    font-family: 'Fraunces', serif;

}

.stroke {
    text-decoration: line-through;
    color: var(--DarkGrayishBlue);
}

.btn {
    width: 100%;
    background-color: var(--DarkCyan);
    color: var(--White);
    padding: 1rem 2rem;
    border-radius: .5rem;
    font-size: 1rem;
    font-weight: 700;
    margin-top: 1rem;
    cursor: pointer;
}

.btn img {
    /* width: 1.5rem; */
    height: 1rem;
    margin-right: 1rem;
}

.btn:hover {
    background-color: var(--DarkCyan);
    color: var(--White);
}


.attribution {
    font-size: 11px;
    text-align: center;
    margin: .4rem 0;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


/* mobile view */
@media screen and (max-width: 375px) {


    .product-card {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--white);
        /* margin: .5rem auto; */
        border-radius: 1rem;

    }

    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem;
    }

    .desko {
        display: none;
    }

    .product-image .mobile-image {
        display: block;
        max-width: 100%;
        overflow: hidden;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }

    .container h1 {
        font-size: clamp(2rem, 0.75rem + 1.5vw, 4rem);
        margin-bottom: 1rem;
        font-weight: 700;
        color: var(--VeryDarkBlue);
        font-family: 'Fraunces', serif;

    }

    .container p {
        font-family: "Montserrat", serif;
        color: var(--DarkGrayishBlue);
        margin: .5rem 0;
        font-size: clamp(1rem, 0.75rem + 1.5vw, 2rem);
    }

    .pef {
        text-transform: uppercase;
        letter-spacing: 1px;
        font-family: 'Fraunces', sans-serif;
    }

    .sp-container {
        display: flex;
        gap: 1rem;
        margin-top: 1rem;
    }

    .prize {
        font-size: clamp(2rem, 0.75rem + 1.5vw, 3rem);
        font-weight: 700;
        color: var(--DarkCyan);
        font-family: 'Fraunces', serif;

    }

    .stroke {
        text-decoration: line-through;
        color: var(--DarkGrayishBlue);
    }

    .btn {
        width: 100%;
        background-color: var(--DarkCyan);
        color: var(--White);
        padding: 1rem 2rem;
        border-radius: .5rem;
        font-size: 1rem;
        font-weight: 700;
        /* margin-top: 1rem; */
        cursor: pointer;
    }

}