@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:wght@100..900&family=Outfit:wght@100..900&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:wght@100..900&family=Outfit:wght@100..900&family=Young+Serif&display=swap');

:root {

    /* - Mobile: 375px
    /* Primary */

    --bg-btn: hsl(158, 36%, 37%);
    --Hover-color: hsl(158, 60%, 17%);
    --bg-color: hsl(30, 38%, 92%);
    --DarkBlue: hsl(212, 21%, 14%);
    --DarkGrayishBlue: hsl(228, 12%, 48%);
    --Secondary: hsl(0, 0%, 100%);

    /* fonts */
    --ff-head: 'Fraunces', serif;
    --ff-base: 'Montserrat', sans-serif;
    --fw-reg: 500;
    --fw-bold: 700;
    --fs-head: clamp(2.5em, 0.75rem + 1.5vw, 4em);
    --br-box: .5rem;
}

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

body {
    /* 3. Add accessible line-height */
    line-height: 1.7;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
    font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

/* sr-only */
.sr-only:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: inset(50%);
    white-space: nowrap;
    border: 0;
}


/* body set-up */
body {
    font-family: var(--ff-base);
    font-weight: var(--fw-reg);
    font-size: 0.8750em;
    color: var(--DarkGrayishBlue);
    background-color: var(--bg-color);
    /* display  */
    display: grid;
    place-items: center;
    margin: 1rem;
}




.product-card {
    --content-padding: 1rem;
    --content-spacing: 1rem;
    overflow: hidden;
    border-radius: var(--br-box);
    overflow: hidden;
    display: grid !important;
    max-width: 37.5rem;
    background-color: var(--Secondary);
}

@media screen and (min-width: 600px) {
    .product-card {
        --content-padding: 2rem;
        grid-template-columns: 1fr 1fr;
    }

}

.product__content {
    display: grid !important;
    padding: var(--content-padding);
    gap: var(--content-spacing);
}

h1 {
    font-size: clamp(2.5em, 0.75rem + 1.5vw, 4em);
    /* margin: .5rem 0; */
    font-weight: var(--fw-bold);
    color: var(--DarkBlue);
    font-family: var(--ff-head);
    line-height: 1;

}


.pef {
    text-transform: uppercase;
    letter-spacing: .3em;
    color: var(--DarkGrayishBlue);
}

.flex-group {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    align-items: center;
}

.product__prize_new {
    font-size: clamp(2em, 0.75rem + 1.5vw, 1.4em);
    font-weight: 700;
    color: var(--bg-btn);
    font-family: var(--ff-head);

}

.original_prize {
    text-decoration: line-through;
    color: var(--DarkGrayishBlue);
}

button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    background-color: var(--bg-btn);
    color: var(--Secondary);
    padding: .5rem 1.5rem;
    border-radius: var(--br-box);
    font-size: 1rem;
    cursor: pointer;
    font-weight: var(--fw-bold);
}

.btn:is(:hover, :focus) {
    background-color: var(--Hover-color);
    color: var(--Secondary);
}


.attribution {
    font-size: 11px;
    text-align: center;
    margin: .4rem 0;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}